img {
    height : 100px;
}
body{
    font-family: Arial, Helvetica, sans-serif 
}
h1{
    font-size: 32px;
    color:rgb(211, 127, 204) 
}
h2{
    font-size: 25px;
    color: rgb(211, 127, 204) 
}
h3{
    font-size: 20px;
    color:rgb(201, 163, 198) 
}
